@import "{}/imports/ui/stylesheets/vendor/normalize.less";
@import "{}/imports/ui/stylesheets/vendor/boostrap.grid.less";
@import "{}/imports/ui/stylesheets/vendor/skeleton.less";
@import "{}/imports/ui/stylesheets/not-found.less";
@import "{}/imports/ui/stylesheets/login.less";

html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffed4a;
}

#__blaze-root {
  height: 100%;
  min-height: 100%;
}