<template name="dailyPage">
  <div class="d-flex flex-row">
      <div class="tasks">
          <h2 class="dp-headline">Tasks</h2>
          <div class="col">
              Tasks
          </div>
      </div>
      <div class="d-flex flex-column ml-auto">
          <div class="date">
              <h2 class="dp-headline">Date</h2>
              <div class="col">
                  Date
              </div>
          </div>
          <div class="notes">
              <h2 class="dp-headline">Notes</h2>
              <div class="col">
                  Notes
              </div>
          </div>
      </div>
  </div>
</template>
