<template name="App_main">
  <div class="main-layout">
      <div class="content">
          <div class="navbar">
              <div class="row">
                  <div class="logo-brand d-none d-sm-block col col-md-4 col-lg-3 col-xl-2">
                      <img class="logo-img" src="/img/logo.svg" alt="My daily PLANNER Logo">
                  </div>
                  <div class="col pl-sm-0 pl-md-0">
                      <a href="#home">Home</a>
                  </div>
                  <div class="col">
                     <div class="user-panel">
                         <!--<a href="javascript:void(0);" title="Profile"><i class="fa fa-user-circle"></i></a>-->
                         <a href="javascript:void(0);" title="Settings"><i class="fa fa-gear"></i></a>
                         <a href="javascript:void(0);" title="Logout"><i class="fa fa-sign-out"></i></a>
                     </div>
                  </div>
              </div>
          </div>

          <div class="container-fluid main-content">
              {{> Template.dynamic template=main}}
          </div>
      </div>
  </div>
</template>
