<template name="App_main">
  <div class="main-layout">
      <div class="content">
          <div class="navbar">
              <div class="row">
                  <div class="logo-brand d-none d-sm-block col col-md-4 col-lg-3 col-xl-2">
                      <img class="logo-img" src="/img/logo.svg" alt="My daily PLANNER Logo">
                  </div>
                  <div class="col pl-sm-0 pl-md-0">
                      <a href="#home">Home</a>
                  </div>
                  <div class="col">
                     <div class="user-panel">
                         <!--<a href="javascript:void(0);" title="Profile"><i class="fa fa-user-circle"></i></a>-->
                         <a href="javascript:void(0);" title="Settings"><i class="fa fa-gear"></i></a>
                         <a href="javascript:void(0);" title="Logout"><i class="fa fa-sign-out"></i></a>
                     </div>
                  </div>
              </div>
          </div>

          <div class="container main-content">
              {{> Template.dynamic template=main}}
          </div>
      </div>
      <footer>
          <div class="row">
              <div class="col">
                  © Copyright 2018. All rights reserved &middot; <span id="madeinlove">Made with <i class="fa fa-heart pulse"></i> in <a href="https://www.google.de/maps/place/Nordrhein-Westfalen/@51.4217402,6.5430999,8z/data=!3m1!4b1!4m5!3m4!1s0x47b9167c8e4248a1:0x2f4c327e4fd78f5f!8m2!3d51.4332367!4d7.6615938" target="_blank" tabindex="-1">Nordrhein-Westfalen</a></span>
              </div>
              <div class="col-2 text-right">
                  <a href="#github_release" tabindex="-1">v0.0.1</a>
              </div>
          </div>
      </footer>
  </div>
</template>
