input, label {
  display: block;
}

.form-group {
  label {
    font-weight: lighter;
  }

  input {
    border-color: white !important;
  }
}

.remember-me {
  height: 15px;
  max-height: 15px;
}

.register {
  margin-top: 4.5em;
}

.btn-login {
  float: right;
  background-color: #2779bd;
  color: white;
  border-radius: 3px;
  width: 150px;
  transition: 0.5s;

  &:hover, &:focus{
    background-color: #291f0a;
    color: white;
    border-color: transparent;
  }
}

.pencil-container {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.logo-row {
  position: absolute;
}

.my-line-left {
  background-color: #291f0a;
  height: 5px;
  width: 60vw;
  border-radius: 30px;
  border: 1px solid;
  margin-left: -50vw;
  margin-bottom: 10px;
}

.my-line {
  position: absolute;
  background-color: black;
  height: 5px;
  width: 60vw;
  border-radius: 30px;
  border: 1px solid;
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-line-left {
  top: -35px;
  left: 0;
}

.my-line-right {
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
}

.logo {
  position: absolute;
  top: -65px;
  left: -150px;
}
