input, label {
  display: block;
}

.form-group {
  label {
    font-weight: lighter;
  }

  input {
    border-color: white !important;
  }
}

.remember-me {
  height: 15px;
  max-height: 15px;
}

.login-container {
  &:after {
    content: ' ';
    background: url('img/pencils.png') no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 450px;
    height: 455px;
    z-index: 0;
  }
}

.register {
  margin-top: 4.5em;
}

.btn-login {
  float: right;
  background-color: #2779bd;
  color: white;
  border-radius: 3px;
  width: 150px;
  transition: 0.5s;

  &:hover, &:focus{
    background-color: #291f0a;
    color: white;
    border-color: transparent;
  }
}

.pencil-container {
  position: absolute;
  left: 0;
  bottom: 0;
}

.logo-row {
  position: absolute;
}

.my-line-left {
  background-color: #333;
  height: 5px;
  width: 60vw;
  border-radius: 30px;
  border: 1px solid;
  margin-left: -50vw;
  margin-bottom: 10px;
}

.my-line {
  position: absolute;
  background-color: #333;
  height: 5px;
  width: 60vw;
  border-radius: 30px;
  border: 1px solid;
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-line-left {
  top: -35px;
  left: 0;
}

.my-line-right {
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
}

.logo {
  position: absolute;
  top: -65px;
  left: -150px;
}

#madeinlove > .fa {
  color: #E90606;
  margin: 0 3px;
  font-size: 10px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  font-size: 0.9em;
}

@media screen and (max-height: 650px),
       screen and (max-width: 1250px) {
  .login-container {
    &:after {
      display: none;
    }
  }
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}

@keyframes pound {
  to {
    transform: scale(1.1);
  }
}