div.main-layout {
  background-color: white;
  height: 100%;
  min-height: 100%;

  .sidebar-right {
    height: 100%;
    width: 75px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 20px;

    a {
      text-align: center;
      padding: 6px 8px 6px 0;
      text-decoration: none;
      font-size: 35px;
      color: #818181;
      display: block;
    }

    a:hover {
      color: #f1f1f1;
    }
  }

  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 45px;

    a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    a:hover {
      background: #ddd;
      color: black;
    }
  }

  .content {
    // margin-left: 75px;  /* With Sidebar right */
  }

  .main-content {
    margin-top: 50px;
    // padding: 0 10px; /* With Sidebar right */
  }

  .logo-brand {
    text-align: center;
    background-color: #ffed4a;

    .logo-img {
      width: 200px;
      padding: 10px 10px 0 10px;
    }
  }

  .user-panel {
    a {
      float: right !important;
    }
  }

  /*@media screen and (max-height: 450px) {
    .sidebar-right {
      padding-top: 15px;

      a {
        font-size: 18px;
      }
    }
  }*/
}